<header>
  <h2 align="center">Search Application</h2>

</header>
<body>
<div>
  <label class="labelNameClass"> {{ labelName }}</label>
  <input class="inputClass" placeholder="      Person Name" #searchByPerson  [(ngModel)]="name">
  <input class="inputClass" placeholder="      Person Address" #personAddress  [(ngModel)]="address">
  <button class="btn btn-primary" (click)="addPerson()">Add this person</button>
</div>

  <div *ngFor="let person of (personList | async )">
{{ person.id }}  {{ person.name}} {{person.address}}
  <!--&lt;!&ndash;<app-person-details [person]="person" style="color:green"></app-person-details>&ndash;&gt;-->
</div>

</body>