<header>
  <h2 align="center">Search Application</h2>
</header>
<body>
  <div>
    <label class="labelNameClass"> {{ labelName }}</label>
    <input class="inputClass" placeholder="      Person Name" #searchByPerson  [(ngModel)]="searchPersonBy">
    <button class="btn btn-primary" (click)="addPerson(searchByPerson.value)">Add this person</button>
  </div>
<div *ngFor="let person of _personListService.personList">
  <app-person-details [person]="person" style="color:green"></app-person-details>
  </div>

</body>
